<div class="toggle-cont" id="supa-za-leo">
    <div class="toggles">
        <div class="jtoggle" id="jtoggle">« Juzi</div>
        <div class="ytoggle" id="ytoggle">Jana</div>
        <div class="ltoggle active_toggle" id="ltoggle">⁕ Leo ⁕</div>
        <div class="ktoggle" id="ktoggle">Kesho »</div>
    </div>
</div>

<!-- juzi -->
<div class="tble-cont ficha" id="jday">
    <div class="table-head">
        <h2>⭐ Both Teams to Score Tips | Juzi ⭐</h2>
    </div>
    <ul class="list-group">
        <% jtips.forEach(el => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="match">
                  <div class="time-league">
                    <%= el.time %> | 
                    <%= el.date.split('/20')[0] %> |
                    <%= el.league %>
                  </div>
                  <div class="match">
                    <span class="home"><%= el.match.split(' - ')[0] %></span> <br>
                    <span class="away"><%= el.match.split(' - ')[1] %></span>
                </div>
                  <div class="expl">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <%= el.expl %></div>
                </div>
                <span class="badge text-bg-primary rounded-pill">
                    <%= el.bet %>
                </span>
              </li>
        <% }) %>
    </ul>
    <%- include('../../0-global/aff.ejs'); %>
</div>

<!-- yesterday -->
<div class="tble-cont ficha" id="yday">
    <div class="table-head">
        <h2>⭐ Both Teams to Score Tips | Jana ⭐</h2>
    </div>
    <ul class="list-group">
        <% ytips.forEach(el => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="match">
                    <div class="time-league">
                      <%= el.time %> | 
                      <%= el.date.split('/20')[0] %> |
                      <%= el.league %>
                    </div>
                    <div class="match">
                      <span class="home"><%= el.match.split(' - ')[0] %></span> <br>
                      <span class="away"><%= el.match.split(' - ')[1] %></span>
                  </div>
                    <div class="expl">
                      <i class="fa-solid fa-circle-exclamation"></i>
                      <%= el.expl %></div>
                  </div>
                <span class="badge text-bg-primary rounded-pill">
                    <%= el.bet %>
                </span>
              </li>
        <% }) %>
    </ul>
    <%- include('../../0-global/aff.ejs'); %>
</div>


<!-- today -->
<div class="tble-cont" id="lday">
    <div class="table-head">
        <h2>⭐ Both Teams to Score Tips | Leo ⭐</h2>
    </div>
    <ul class="list-group">
        <% ftips.forEach(el => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="match">
                    <div class="time-league">
                      <%= el.time %> | 
                      <%= el.date.split('/20')[0] %> |
                      <%= el.league %>
                    </div>
                    <div class="match">
                      <span class="home"><%= el.match.split(' - ')[0] %></span> <br>
                      <span class="away"><%= el.match.split(' - ')[1] %></span>
                  </div>
                    <div class="expl">
                      <i class="fa-solid fa-circle-exclamation"></i>
                      <%= el.expl %></div>
                  </div>
                <span class="badge text-bg-primary rounded-pill">
                    <%= el.bet %>
                </span>
              </li>
        <% }) %>
    </ul>
    <%- include('../../0-global/aff.ejs'); %>
</div>


<!-- tomorrow -->
<div class="tble-cont ficha" id="kday">
    <div class="table-head">
        <h2>⭐ Both Teams to Score Tips | Kesho ⭐</h2>
    </div>
    <ul class="list-group">
        <% ktips.forEach(el => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="match">
                    <div class="time-league">
                      <%= el.time %> | 
                      <%= el.date.split('/20')[0] %> |
                      <%= el.league %>
                    </div>
                    <div class="match">
                      <span class="home"><%= el.match.split(' - ')[0] %></span> <br>
                      <span class="away"><%= el.match.split(' - ')[1] %></span>
                  </div>
                    <div class="expl">
                      <i class="fa-solid fa-circle-exclamation"></i>
                      <%= el.expl %></div>
                  </div>
                <span class="badge text-bg-primary rounded-pill">
                    <%= el.bet %>
                </span>
              </li>
        <% }) %>
    </ul>
    <div class="zakesho" id="zakesho">
        * Mkeka wa Kesho <b id="siku_kesho"></b> bado haujaandaliwa, rudi baada ya mda kidogo utakuwa tayari.
    </div>
    <%- include('../../0-global/aff.ejs'); %>
</div>