<div class="toggle-cont" id="supa-za-leo">
    <div class="toggles">
        <div class="jtoggle" id="jtoggle">« Juzi</div>
        <div class="ytoggle" id="ytoggle">Jana</div>
        <div class="ltoggle active_toggle" id="ltoggle">⁕ Leo ⁕</div>
        <div class="ktoggle" id="ktoggle">Kesho »</div>
    </div>
</div>

<!-- juzi -->
<div class="tble-cont ficha" id="jday">
    <div class="table-head">
        <h2>⭐⭐⭐ Mkeka wa Uhakika Juzi ⭐⭐⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% jtips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td"><%= el.tip %></th>
                    <td class="matokeo-td">
                        <span class="m1"><%= el.matokeo %></span>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff.ejs'); %>
</div>

<!-- yesterday -->
<div class="tble-cont ficha" id="yday">
    <div class="table-head">
        <h2>⭐⭐⭐ Mkeka wa Uhakika Jana ⭐⭐⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% ytips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td"><%= el.tip %></th>
                    <td class="matokeo-td">
                        <span class="m1"><%= el.matokeo %></span>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff.ejs'); %>
</div>


<!-- today -->
<div class="tble-cont" id="lday">
    <div class="table-head">
        <h2>⭐⭐⭐ Mkeka wa Uhakika Leo ⭐⭐⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% ftips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td"><%= el.tip %></th>
                    <td class="matokeo-td">
                        <% if (el.matokeo == '-:-') { %>
                            <span class="m2" id="wekaBet">Bet</span>
                        <% } %>
                        <% if (el.matokeo != '-:-') { %>
                            <span class="m1"><%= el.matokeo %></span>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff.ejs'); %>
</div>


<!-- tomorrow -->
<div class="tble-cont ficha" id="kday">
    <div class="table-head">
        <h2>⭐⭐⭐ Mkeka wa Uhakika Kesho ⭐⭐⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% ktips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td"><%= el.tip %></th>
                    <td class="matokeo-td">
                        <% if (el.matokeo == '-:-') { %>
                            <span class="m2" id="wekaBet">Bet</span>
                        <% } %>
                        <% if (el.matokeo != '-:-') { %>
                            <span class="m1"><%= el.matokeo %></span>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="zakesho" id="zakesho">
        * Mkeka wa Uhakika Kesho <b id="siku_kesho"></b> bado haujaandaliwa, rudi baada ya mda kidogo utakuwa tayari.
    </div>
    <%- include('../../0-global/aff.ejs'); %>
</div>