<h2 class="h2" id="over-15" style="font-size: 16px;">Mikeka ya Over 1.5 Leo</h2>
<p class="p">
    Shinda nasi na mikeka hii ya uhakika ya Over 1.5 kila siku. Tuna zaidi ya asilimia 93 za ushindi katika mikeka hii
    ya kila siku ya Over 1.5 Fulltime <br><br>
    <b>Over 1.5</b> ni utabiri wa jumla ya idadi ya magoli kwa pande zote mwisho wa mechi yatakuwa mawili au zaidi,
    mfano <b>1:1, 2:0, 0:2, 2:1, 1:2, 2:2 n.k</b>
</p>

<div class="toggle-cont">
    <div class="toggles">
        <div class="jtoggle" id="jtoggle_unique">« Juzi</div>
        <div class="ytoggle" id="ytoggle_unique">Jana</div>
        <div class="ltoggle active_toggle" id="ltoggle_unique">⁕ Leo ⁕</div>
        <div class="ktoggle" id="ktoggle_unique">Kesho »</div>
    </div>
</div>

<!-- juzi -->
<div class="tble-cont ficha" id="jday_unique">
    <div class="table-head">
        <h2>⭐ Mkeka wa Over 1.5 | Juzi ⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Bet</th>
            </tr>
        </thead>
        <tbody>
            <% over15Juzi.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <%= el.time %> <br> <span><%= el.date %></span>
                </td>
                <td class="match-td">
                    <span><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td"><%= el.bet %></th>
                <td class="matokeo-tds-over15">
                    <span class="placed" id="wekaBet">Placed</span>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff-leon.ejs'); %>
</div>

<!-- yesterday -->
<div class="tble-cont ficha" id="yday_unique">
    <div class="table-head">
        <h2>⭐ Mkeka wa Over 1.5 | Jana ⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Bet</th>
            </tr>
        </thead>
        <tbody>
            <% over15Jana.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <%= el.time %> <br> <span><%= el.date %></span>
                </td>
                <td class="match-td">
                    <span><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td"><%= el.bet %></th>
                <td class="matokeo-tds-over15">
                    <span class="placed" id="wekaBet">Placed</span>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff-leon.ejs'); %>
</div>

<!-- today -->
<div class="tble-cont" id="lday_unique">
    <div class="table-head">
        <h2>⭐ Mkeka wa Over 1.5 | Leo ⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Bet</th>
            </tr>
        </thead>
        <tbody>
            <% over15Leo.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <%= el.time %> <br> <span><%= el.date %></span>
                </td>
                <td class="match-td">
                    <span><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td"><%= el.bet %></th>
                <td class="matokeo-tds-over15">
                    <span class="m2" id="wekaBet">Bet</span>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (over15Leo.length === 0) { %>
        <div class="zakesho" id="zakesho_unique">
            * Mkeka wa Over 1.5 - Leo <b id="siku_kesho_unique"></b> bado uko kwenye maandalizi, rudi baada ya mda kidogo utakuwa tayari.
        </div>
    <% } %>
    <% if (over15Leo.length > 2) { %>
    <%- include('../../0-global/aff-leon.ejs'); %>
    <% } %>
</div>

<!-- tomorrow -->
<div class="tble-cont ficha" id="kday_unique">
    <div class="table-head">
        <h2>⭐ Mkeka wa Over 1.5 | Kesho ⭐</h2>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Match</th>
                <th class="tips-th" scope="col">Tip</th>
                <th class="results-th" scope="col">Bet</th>
            </tr>
        </thead>
        <tbody>
            <% over15Kesho.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <%= el.time %> <br> <span><%= el.date %></span>
                </td>
                <td class="match-td">
                    <span><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td"><%= el.bet %></th>
                <td class="matokeo-tds-over15">
                    <span class="m2" id="wekaBet">Bet</span>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (over15Kesho.length === 0) { %>
        <div class="zakesho" id="zakesho_unique">
            * Mkeka wa Over 1.5 - Kesho <b id="siku_kesho_unique"></b> bado haujaandaliwa, rudi baada ya mda kidogo utakuwa
            tayari.
        </div>
    <% } %>
    <% if (over15Kesho.length > 2) { %>
    <%- include('../../0-global/aff-leon.ejs'); %>
    <% } %>

</div>

<script>
    function fame15Table() {
        let yday_cont = document.getElementById('yday_unique');
        let lday_cont = document.getElementById('lday_unique');
        let kday_cont = document.getElementById('kday_unique');
        let jday_cont = document.getElementById('jday_unique');

        let ytoggle = document.getElementById('ytoggle_unique');
        let ltoggle = document.getElementById('ltoggle_unique');
        let ktoggle = document.getElementById('ktoggle_unique');
        let jtoggle = document.getElementById('jtoggle_unique');

        ytoggle.addEventListener('click', () => {
            ytoggle.classList.add('active_toggle');
            ltoggle.classList.remove('active_toggle');
            ktoggle.classList.remove('active_toggle');
            jtoggle.classList.remove('active_toggle');

            yday_cont.classList.remove('ficha');
            lday_cont.classList.add('ficha');
            kday_cont.classList.add('ficha');
            jday_cont.classList.add('ficha');
        });

        ltoggle.addEventListener('click', () => {
            ltoggle.classList.add('active_toggle');
            ytoggle.classList.remove('active_toggle');
            ktoggle.classList.remove('active_toggle');
            jtoggle.classList.remove('active_toggle');

            lday_cont.classList.remove('ficha');
            yday_cont.classList.add('ficha');
            kday_cont.classList.add('ficha');
            jday_cont.classList.add('ficha');
        });

        jtoggle.addEventListener('click', () => {
            jtoggle.classList.add('active_toggle');
            ytoggle.classList.remove('active_toggle');
            ktoggle.classList.remove('active_toggle');
            ltoggle.classList.remove('active_toggle');

            jday_cont.classList.remove('ficha');
            yday_cont.classList.add('ficha');
            kday_cont.classList.add('ficha');
            lday_cont.classList.add('ficha');
        });

        ktoggle.addEventListener('click', () => {
            ktoggle.classList.add('active_toggle');
            ytoggle.classList.remove('active_toggle');
            ltoggle.classList.remove('active_toggle');
            jtoggle.classList.remove('active_toggle');

            kday_cont.classList.remove('ficha');
            lday_cont.classList.add('ficha');
            yday_cont.classList.add('ficha');
            jday_cont.classList.add('ficha');
        });

        // Example: Open affiliate link on click
        let matokeo_tds_over15 = document.querySelectorAll('.matokeo-tds-over15');

        matokeo_tds_over15.forEach((el) => {
            el.addEventListener('click', () => {
                window.open('/leonbet/register');
            });
        });
    }
    fame15Table()
</script>